doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Lizzy Store 
    |  
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/popupS.css')
  body
    .wrapper
      h2 Access Account
      form
        .input-box
          input#email(type='email', placeholder='Enter your email', required='')
        .input-box
          input#password(type='password', placeholder='Enter your password', required='')
        .input-box.button
          input(type='Submit', value='Login')
        .forgot
          h3
            a(href='/forgotpassword') Forgot Password?
        .text
          h3
            | Not having an account? 
            a(href='/signup') Register now
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='/js/login.js')
