doctype html
// Coding By CodingNepal - codingnepalweb.com
html(lang='en', dir='ltr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title  Registration or Sign Up form in HTML CSS | CodingLab 
    |  
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      h2 Registration
      form(action='#')
        .input-box
          input(type='text', placeholder='Enter your name', required='')
        .input-box
          input(type='email', placeholder='Enter your email', required='')
        .input-box
          input(type='password', placeholder='Create password', required='')
        .input-box
          input(type='password', placeholder='Confirm password', required='')
        .policy
          input(type='checkbox')
          h3 I accept all terms &amp; condition
        .input-box.button
          input(type='Submit', value='Register Now')
        .text
          h3
            | Already have an account? 
            a(href='/') Login now